<label class="btn sidebar__toggle" data-controller="sidebar">
  <input type="checkbox" id="sidebar-toggle" data-sidebar-target="toggle" data-action="sidebar#toggle">
  <%= image_tag "sidebar.svg", aria: { hidden: true }, size: 24 %>
  <span class="for-screen-reader">Toggle sidebar</span>
</label>
