<% if params[:search].present? %>
  <div class="search__banner flex-inline align-center gap-half txt-medium--responsive">
    <span>Highlighted: <strong><%= params[:search] %></strong></span>

    <%= link_to leafable_slug_path(@leaf), class: "btn txt-small borderless" do %>
      <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Clear highlights</span>
    <% end %>
  </div>
<% end %>
