<%= turbo_frame_tag :search do %>
  <%= render "books/searches/form", book: book %>

  <div class="search__results flex flex-column margin-block-start">
    <% if @leaves.any? %>
      <% @leaves.each do |leaf| %>
        <%= render "books/searches/result", leaf: leaf %>
      <% end %>
    <% else %>
      <p class="search__no_matches txt-align-center">No matches.</p>
    <% end %>
  </div>
<% end %>
